@import '/src/styles/styles.scss';

.black_container {
  background-color: $black-background;
  color: #fff;
 
  h1 {
    font-size: 20px;     
  }

  .products {
    display: flex;
  
    &-card {
      padding: 20px;

      &__name {
        font-size: 14px;
        color: $primary-color;
      }

      &__description {
        font-size: 12px;
        color: gray;
      }
    }
  }

  .cards {
    .products-card__name {
      font-size: 40px;
    }
  } 
}
